table#map_layer 
{
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
}

table#map_layer td
{
    border: thin solid #6495ed;
}

#palette 
{
    
}